[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Environment=HOME=/home/alfonso.ros
Type=simple
ExecStart=/home/alfonso.ros/.cargo/bin/kanata --cfg /home/alfonso.ros/.config/kanata/kanata.kbd
Restart=never

[Install]
WantedBy=default.target
